<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Question</title>
    <link th:replace="fragments/navbar.html :: bootstrap-link">
    <link th:replace="fragments/navbar.html :: css">
</head>
<body>


<header th:replace="fragments/navbar.html :: navbar"> </header>
<div th:replace="fragments/error.html :: error" ></div>
<a class="btn btn-info" th:href="@{|/question-form/list-questions/${question.questionFormId}|}">See the questions belonging to the question form</a>
<h1>Update your question</h1>


<form th:action="@{|/question/update/${question.id}|}" method="post" th:object="${question}">
    <input hidden th:field="*{id}">
    <input hidden th:field="*{questionType}">
    <input th:field="*{questionText}">
    <th:block th:switch="*{questionType}">
        <div id="updateradio"  th:case="'Radio button'">
            <tr th:each="answerPossibility, iter : *{answerPossibilities}">
                <td>
                    <input th:field="*{answerPossibilities[__${iter.index}__].answerText}" th:name="|answerPossibilities[${iter.index}].answerText|" th:placeholder="${answerPossibility.answerText}">
                    <input th:value="${answerPossibility.id}" th:name="|answerPossibilities[${iter.index}].id|" hidden>
                </td>
            </tr>
            <button type="button" id="updateradiobutton">Add another input field</button>
        </div>
        <div id="updatecheckbox"  th:case="'Check box'">
            <tr th:each="answerPossibility, iter : *{answerPossibilities}">
                <td>
                    <input th:field="*{answerPossibilities[__${iter.index}__].answerText}" th:name="|answerPossibilities[${iter.index}].answerText|" th:placeholder="${answerPossibility.answerText}">
                    <input th:value="${answerPossibility.id}" th:name="|answerPossibilities[${iter.index}].id|" hidden>
                </td>
            </tr>
            <button type="button" id="updatecheckboxbutton">Add another input field</button>
        </div>
        <div th:case="'Scale'">
            <input th:field = "*{scale}" name="scale">
        </div>
    </th:block>
    <button type="reset">Reset</button>
    <button type="submit">SUBMIT</button>


    <script th:replace="fragments/scripts.html :: jquery"></script>
    <script th:replace="fragments/scripts.html :: cloudflare"></script>
    <script th:replace="fragments/scripts.html :: bootstrap"></script>
</form>
<script type="text/javascript" th:src="@{/js/questionupdate.js}"></script>
</body>
</html>