<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:replace="fragments/navbar.html :: bootstrap-link">
    <link th:replace="fragments/navbar.html :: css">
</head>
<body>
<header th:replace="fragments/navbar.html :: navbar"> </header>
<div th:replace="fragments/error.html :: error" ></div>


<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Filled out</th>
        <th>EDIT</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="questionForm : ${questionFormDTOs}" th:object="${questionForm}">
        <td th:text="*{getName()}"></td>
        <td> Not filled out"</td>
        <td> <a class="button" th:href="@{|/question-form/get/*{getQuestionFormId()}/*{getAnswerFormId()}/*{getAppUserId()}|}"> EDIT ANSWERS</a></td>
    </tr>
    </tbody>
</table>

<script th:replace="fragments/scripts.html :: jquery"></script>
<script th:replace="fragments/scripts.html :: cloudflare"></script>
<script th:replace="fragments/scripts.html :: bootstrap"></script>
</body>
</html>