mydropdown {
    display: inline-block;
}

#usererror {
    color: red;
}

form, #subdivexample {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#subdivexample {
    border: thick solid #0000FF;
}

#subdivexample input:disabled ~ .check{
    background-color: #2196F3;
}




#iconfas {
    transform: scale(1.5,1);
}

.icon{
    font-size: 30px;
}
