<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Answerform</title>
    <link th:replace="fragments/navbar.html :: bootstrap-link">
    <link th:replace="fragments/navbar.html :: css">

    <script type="text/javascript" th:src="@{/js/renderanswerform.js}"></script>

</head>
<body>
<header th:replace="fragments/navbar.html :: navbar"> </header>
<div th:replace="fragments/messages.html :: error" ></div>



<form id="answerform" th:action="@{|/answer-form/create/${answerForm.answerFormId}/${answerForm.questionFormId}/${answerForm.appUserId}|}" method="post">
    <table class="table table-hover">
                <tr th:each="question, iter : ${answerForm.questions}" th:object="${question}">

                        <p th:text="*{questionText}"></p>
                    <div  th:id="|questions[${iter.index}]|">
                        <th:block th:switch="*{getDiscriminatorValue()}">
                            <div th:case="'CheckBoxQuestion'">
                                <script th:inline="javascript">
                                    /*<![CDATA[*/
                                    renderCheckBoxOrRadioButtonQuestion("checkbox", "answers", /*[[${iter.index}]], [[*{getQuestionTextPossibilitiesTexts()}]]*/)
                                    /*]]>*/
                                </script>
                            </div>
                            <div th:case="'RadioButtonQuestion'">
                                <script th:inline="javascript">
                                    /*<![CDATA[*/
                                    renderCheckBoxOrRadioButtonQuestion("radio", "answers", /*[[${iter.index}]], [[*{getQuestionTextPossibilitiesTexts()}]]*/)
                                    /*]]>*/
                                </script>
                            </div>
                            <div th:case="'ScaleQuestion'">
                                <script th:inline="javascript">
                                    /*<![CDATA[*/
                                    renderQuestion("scale", "answers", /*[[*{scale}]], [[${iter.index}]]*/)
                                    /*]]>*/
                                </script>
                            </div>
                            <div th:case="'TextQuestion'">
                                <script th:inline="javascript">
                                    /*<![CDATA[*/
                                    renderQuestion("text", "answers", null, /*[[${iter.index}]]*/)
                                    /*]]>*/
                                </script>
                            </div>
                        </th:block>
                    </div>
                </tr>
    </table>
</form>

<script type="text/javascript" th:src="@{/js/renderanswerform.js}"></script>
<script th:replace="fragments/scripts.html :: jquery"></script>
<script th:replace="fragments/scripts.html :: cloudflare"></script>
<script th:replace="fragments/scripts.html :: bootstrap"></script>
</body>
</html>