<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Display Answers</title>
  <link th:replace="fragments/navbar.html :: bootstrap-link">
  <link th:replace="fragments/navbar.html :: css">
</head>
<body>
<header th:replace="fragments/navbar.html :: navbar"> </header>

<div th:replace="fragments/messages.html :: error" ></div>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Question type</th>
    <th>Question Text</th>
    <th>Answer Texts</th>
  </tr>
  </thead>
  <tbody>
    <tr th:each="answer, iter : ${displayAnswers.answers}">
      <td th:text="${displayAnswers.questionTypes[__${iter.index}__]}"></td>
      <td th:text="${displayAnswers.questionTexts[__${iter.index}__]}"></td>
      <td>
        <ul th:each="actualAnswerText : ${answer.actualAnswerTexts}">
          <li th:text="${actualAnswerText.answerText}"></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>


<script th:replace="fragments/scripts.html :: jquery"></script>
<script th:replace="fragments/scripts.html :: cloudflare"></script>
<script th:replace="fragments/scripts.html :: bootstrap"></script>
</body>
</html>