<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Update Answerform</title>
  <link th:replace="fragments/navbar.html :: bootstrap-link">
  <link th:replace="fragments/navbar.html :: css">
</head>
<body>
<header th:replace="fragments/navbar.html :: navbar"></header>
<div th:replace="fragments/messages.html :: error"></div>
<script th:src="@{/js/renderanswerform.js}" type="text/javascript"></script>

<form id="answerform" method="post"
      th:action="@{|/answer-form/update/${answerForm.answerFormId}/${answerForm.appUserId}|}">
  <tr th:each="question, iterStat : ${answerForm.questions}">
    <p th:text="${question.questionText}"></p>
    <div>
      <th:block th:switch="${question.getDiscriminatorValue()}">

        <div th:case="'CheckBoxQuestion'">
                        <span th:each="questionTextPossibility, list: ${question.questionTextPossibilities}">
                            <label th:text="${questionTextPossibility.answerText}"></label>
                   <input th:field="${answerForm.answers[__${iterStat.index}__].actualAnswerTexts[__${list.index}__].answerText}"
                          th:name="answers[__${iterStat.index}__].actualAnswerTexts[__${list.index}__].answerText"
                          th:value="${questionTextPossibility.answerText}"
                          type="checkbox">
                        </span>
        </div>

        <div th:case="'RadioButtonQuestion'">
                        <span th:each="questionTextPossibility, list: ${question.questionTextPossibilities}">
                            <label th:text="${questionTextPossibility.answerText}"></label>
                   <input th:field="${answerForm.answers[__${iterStat.index}__].actualAnswerTexts[0].answerText}"
                          th:name="answers[__${iterStat.index}__].actualAnswerTexts[0].answerText"
                          th:value="${questionTextPossibility.answerText}"
                          type="radio">
                        </span>
        </div>

        <div th:case="'ScaleQuestion'">
          <input onchange="updateTextInput(this.value, this.id);" th:field="${answerForm.answers[__${iterStat.index}__].actualAnswerTexts[0].answerText}"
                 th:id="|rangeInput${iterStat.index}|"
                 th:max="${question.scale}"
                 th:name="answers[__${iterStat.index}__].actualAnswerTexts[0].answerText"
                 type="range">
          <input th:id="|rangeOutPut${iterStat.index}|" type="text" value="">
        </div>

        <div th:case="'TextQuestion'" th:id="|textquestioncreate[__${iterStat.index}__]|">
                 <span th:id="|answers[__${iterStat.index}__]|">
                   <span
                       th:each="actualAnswerText, list: ${answerForm.answers[__${iterStat.index}__].actualAnswerTexts}">
                     <input th:field="${answerForm.answers[__${iterStat.index}__].actualAnswerTexts[__${list.index}__].answerText}"
                            th:name="answers[__${iterStat.index}__].actualAnswerTexts[__${list.index}__].answerText"
                            type="text">
                     <script th:inline="javascript">
              /*<![CDATA[*/
              setCurrentIndexForAnotherInputField(/*[[${iterStat.index}]], [[${list.index}]]*/)
              /*]]>*/
          </script>
                    </span>
                   </span>

          <script th:inline="javascript">
              /*<![CDATA[*/
              renderQuestionText(/*[[${iterStat.index}]]*/)
              /*]]>*/
              /*<![CDATA[*/
              resetForCreatingTextQuestion()
              /*]]>*/
          </script>
        </div>
      </th:block>
    </div>
  </tr>
  </table>
</form>


<script th:replace="fragments/scripts.html :: jquery"></script>
<script th:replace="fragments/scripts.html :: cloudflare"></script>
<script th:replace="fragments/scripts.html :: bootstrap"></script>

</body>
</html>