<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Answerform</title>
    <link th:replace="fragments/navbar.html :: bootstrap-link">
    <link th:replace="fragments/navbar.html :: css">
</head>
<body>
<header th:replace="fragments/navbar.html :: navbar"></header>
<div th:replace="fragments/messages.html :: error"></div>
<form th:action="@{|/answer-form/update/${answerForm.answerFormId}/${answerForm.appUserId}|}" method="post">
    <tr th:each="question, itemStat : ${answerForm.questions}">
        <p th:text="${question.questionText}"></p>
        <div>
            <th:block th:switch="${question.getDiscriminatorValue()}">

                <div th:case="'CheckBoxQuestion'">
                        <span th:each="questionTextPossibility, list: ${question.questionTextPossibilities}">
                            <label th:text="${questionTextPossibility.answerText}"></label>
                   <input type="checkbox"
                          th:name="answers[__${itemStat.index}__].actualAnswerTexts[__${list.index}__].answerText"
                          th:field="${answerForm.answers[__${itemStat.index}__].actualAnswerTexts[__${list.index}__].answerText}"
                          th:value="${questionTextPossibility.answerText}">
                        </span>
                </div>

                <div th:case="'RadioButtonQuestion'">
                        <span th:each="questionTextPossibility, list: ${question.questionTextPossibilities}">
                            <label th:text="${questionTextPossibility.answerText}"></label>
                   <input type="radio"
                          th:name="answers[__${itemStat.index}__].actualAnswerTexts[0].answerText"
                          th:field="${answerForm.answers[__${itemStat.index}__].actualAnswerTexts[0].answerText}"
                          th:value="${questionTextPossibility.answerText}">
                        </span>
                </div>

                <div th:case="'ScaleQuestion'">
                    <input type="range" th:id="|rangeInput${itemStat.index}|"
                           th:name="answers[__${itemStat.index}__].actualAnswerTexts[0].answerText"
                           th:max="${question.scale}"
                           th:field="${answerForm.answers[__${itemStat.index}__].actualAnswerTexts[0].answerText}"
                           onchange="updateTextInput(this.value, this.id);">
                    <input type="text" th:id="|rangeOutPut${itemStat.index}|" value="">
                </div>

                <div th:case="'TextQuestion'">

                    <span th:each="actualAnswerText, list: ${answerForm.answers[__${itemStat.index}__].actualAnswerTexts}">
                        <input type="text"
                               th:name="answers[__${itemStat.index}__].actualAnswerTexts[__${list.index}__].answerText"
                               th:field="${answerForm.answers[__${itemStat.index}__].actualAnswerTexts[__${list.index}__].answerText}">
                    </span>
                    <span th:each="otherUsersAnswer : ${answerForm.otherUsersAnswers}" >
                        <span th:if="${otherUsersAnswer.question.id == question.id}">
                            <span th:each="actualAnswerText, list : ${otherUsersAnswer.actualAnswerTexts}">
                                <p th:text="${actualAnswerText.answerText}"></p>
                                <label>1</label>
                                <input type="radio" th:name="answers[__${itemStat.index}__].actualAnswerTexts[__${list.index}__].textAnswerVotes[0].value" value="1">
                            </span>
                        </span>
                    </span>

                </div>
            </th:block>
        </div>
    </tr>
    </table>
    <button type="submit">SUBMIT</button>
    <button type="reset">RESET</button>
</form>


<script th:replace="fragments/scripts.html :: jquery"></script>
<script th:replace="fragments/scripts.html :: cloudflare"></script>
<script th:replace="fragments/scripts.html :: bootstrap"></script>
<script type="text/javascript" th:src="@{/js/updateAnswerForm.js}"></script>

</body>
</html>