<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Answerform</title>
    <link th:replace="fragments/navbar.html :: bootstrap-link">
    <link th:replace="fragments/navbar.html :: css">
</head>
<body>
<header th:replace="fragments/navbar.html :: navbar"></header>
<div th:replace="fragments/messages.html :: error"></div>
<form >
    <tr th:each="question, itemStat : ${answerForm.questions}">
        <p th:text="${question.questionText}"></p>
        <div>
            <th:block th:switch="${question.getDiscriminatorValue()}">
                <div th:case="'CheckBoxQuestion'">
                    <p th:text="${question.questionText}"></p>
                    <span th:each="answer, list : ${answerForm.answers[__${itemStat.index}__]}">
                        <label th:text="${question.answerPossibilities[__${itemStat.index}__].answerText}"></label>
                   <input type="checkbox" th:name="answers[__${itemStat.index}__].actualAnswerTexts[__${list.index}__].answerText">
                    </span>
                </div>
                <div th:case="'RadioButtonQuestion'">
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        renderCheckBoxOrRadioButtonQuestion("radio", "answers", /*[[${iter.index}]], [[*{getAnswerPossibilitiesTexts()}]]*/)
                        /*]]>*/
                    </script>
                </div>
                <div th:case="'ScaleQuestion'">
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        renderQuestion("scale", "answers", /*[[*{scale}]], [[${iter.index}]]*/)
                        /*]]>*/
                    </script>
                </div>
                <div th:case="'TextQuestion'">
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        renderQuestion("text", "answers", null, /*[[${iter.index}]]*/)
                        /*]]>*/
                    </script>
                </div>
            </th:block>
        </div>
    </tr>
    </table>
</form>



<script th:replace="fragments/scripts.html :: jquery"></script>
<script th:replace="fragments/scripts.html :: cloudflare"></script>
<script th:replace="fragments/scripts.html :: bootstrap"></script>
</body>
</html>