<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Hello user</title>
  <link th:replace="fragments/navbar.html :: bootstrap-link">
  <link th:replace="fragments/navbar.html :: css">
</head>
<body>

<header th:replace="fragments/navbar.html :: navbar"></header>
<div th:replace="fragments/messages.html :: error"></div>

<h1>Welcome</h1>

<script th:replace="fragments/scripts.html :: jquery"></script>
<script th:replace="fragments/scripts.html :: cloudflare"></script>
<script th:replace="fragments/scripts.html :: bootstrap"></script>
</body>
</html>