<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link th:replace="fragments/navbar.html :: bootstrap-link">
</head>
<body>

<header th:insert="fragments/navbar.html :: navbar"> </header>
<h1>Hello there</h1>


<script th:replace="fragments/navbar.html :: jquery"></script>
<script th:replace="fragments/navbar.html :: cloudflare"></script>
<script th:replace="fragments/navbar.html :: bootstrap"></script>
</body>
</html>