<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Reset password</title>
  <link th:replace="fragments/navbar.html :: bootstrap-link">
  <link th:replace="fragments/navbar.html :: css">
</head>
<body>
<header th:insert="fragments/navbar.html :: navbar"></header>
<div th:replace="fragments/messages.html :: error"></div>

<form th:action="@{|/reset-password/${appUserId}|}" method="post">
  <label for="changepassword">Enter your new password</label>
  <input id="changepassword" placeholder="enter your password" name="password1">

  <label for="changepassword2">Enter your new password</label>
  <input id="changepassword2" placeholder="enter your password again" name="password2">
  <button type="submit">SUBMIT</button>

</form>


<script th:replace="fragments/scripts.html :: jquery"></script>
<script th:replace="fragments/scripts.html :: cloudflare"></script>
<script th:replace="fragments/scripts.html :: bootstrap"></script>
</body>
</html>